/**Fuentes---------------------------------------------------------------------**/

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    font-style: normal;
    color: rgb(189, 49, 114);
}

.montserrat {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
}





/**General------------------------------------------------------------------**/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    width: 100;
    height: 100%;
    font-size: 16px;

    background: linear-gradient(to bottom, #f1d3dd, #f5dbdb);

}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/**header-------------------------------------------------------------------------------------------**/


.baner {
    background-image: url(/IMAGENES/ropa\ background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    position: relative;

}


.baner-contenido {
    position: absolute;
    background-color: rgb(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}

.head {
    background-color: #A1423E;
    padding-bottom: 0rem;

}


.nav-bar {
    color: black !important;
    font-size: 1rem;


}



.navbar-nav {

    margin: 0 auto;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        margin: 0 auto;
    }

}

.nav-link {
    color: black !important;
    margin: 0 3rem 0 3rem;
    text-align: center;

}


.logo {
    width: 10%;
    height: 10%;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.btn-warning {
    color: white !important;
    font-weight: 600 !important;
    font-size: 2rem !important;
    text-align: center !important;
    border-radius: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-transform: uppercase !important;
    margin-bottom: 3rem !important;
    margin-left: 0rem !important;
    background-color: rgb(163, 90, 30) !important;
    border: none !important;
    margin-top: 3rem;
}


/**Media 900px--------------**/


@media (min-width: 900px) {
    .logo {
        width: 10%;
        height: 10%;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }

    .boton2 {
        width: 12rem;
    }

    footer {

        background-color: #ecb3b1;
        height: 3rem;
        margin-top: 30rem;
        padding: 3rem;
        width: 100%;
    }

}

/**Media 768px----------------**/

@media (min-width: 768px) {

    .logo {
        width: 10%;
        height: 10%;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }




    footer {

        background-color: #ecb3b1;
        height: 3rem;
        margin-top: 10rem;
        padding: 3rem;
        width: 100%;
    }
}

/**Media 1200----------------**/
@media (min-width: 1200px) {

    .logo {
        width: 10%;
        height: 10%;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }



}

.titulos-header {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0;

}

.titulo-mayor {

    color: white;
    font-weight: bold;
    height: auto;
    text-align: center;
}

.titulo-medio {
    height: auto;
    margin-top: 2rem;
    color: white;
    text-align: center;

}

.titulo-menor {
    height: auto;
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-weight: lighter;

}

.boton-header {
    text-align: center;
    height: auto;
}

/**Media 150px-767px----------------**/

@media (min-width: 150px) and (max-width:767px) {

    .logo {
        width: 20%;
        height: 10%;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }

}




/**Formulario---------------------------------------------------------------------**/

.formulario {
    background-color: rgb(226, 197, 173);
    width: min(60rem, 100%);
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 1rem;

}

@media (min-width: 150px) and (max-width:767px) {
    .formulario {
        background-color: rgb(226, 197, 173);
        width: min(60rem, 90%);
        margin: 0 auto;
        margin-top: 4rem;

    }

}



.formulario fieldset {
    border: #110403;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #110403;
}

@media (min-width: 768px) {

    .contenedor-campo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .campo-email {
        grid-column: 1 / 3;
        text-align: start;
        width: 98%;
    }
}

.campo {
    margin-bottom: 1rem;
    margin-left: 3rem;

}

.campo label {
    color: black;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo input {
    width: 95%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.btn-warning:hover {
    cursor: pointer;

}

.enviar .btn-warning {
    width: 95%;
}

.enviar {
    width: 90%;
    margin-left: 3rem;
}


@media (min-width: 768px) {

    .enviar {
        display: flex;
        justify-content: end;
        width: 30%;
    }
}

.campo label {
    font-size: 1.5rem;
}


.btn-warning2 {
    color: rgb(27, 22, 22) !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
    text-align: center !important;
    border-radius: 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-transform: uppercase !important;
    margin-bottom: 3rem !important;
    margin-left: 0rem !important;
    background-color: rgb(236, 168, 137) !important;
    border: black !important;
    margin-top: 3rem;

}

.enviar2 {
    display: flex;
    justify-content: center;
    width: 30%;
}

.retorno {
    margin: 0 auto;
}

.footerr {
    color: white;
    margin: 0 auto;
    font-family: cursive;
}

.imagen1,
.imagen2,
.imagen3 {
    height: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}